<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30">

  <properties>
    <property name="msg_layout">%d{HH:mm:ss SSS} [%-5level] [%-10t] %logger{1} - %m%n%ex</property>
  </properties>

  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${msg_layout}" />
    </Console>
  </appenders>

  <loggers>
    <root level="debug">
      <appender-ref ref="Console" />
    </root>
  </loggers>
</configuration>